<div class="modal-header clearfix text-left">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i ng-click="cancel()" class="pg-close fs-14"></i>
    </button>
    <p>Enter the title and uri of the new feed</p>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group-attached">
            <div class="row">
                <div class="col-sm-12">
                    <div id="messages" ng-show="message" class="alert alert-success" role="alert">
                        {{ message }}
                    </div>

                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : errorTitle }">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" ng-model="formData.title">
                        <span class="help-block error" ng-show="errorTitle">{{ errorTitle }}</span>
                    </div>
                    <br />
                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : errorUri }">
                        <label>URI</label>
                        <input type="text" name="uri" class="form-control" ng-model="formData.uri">
                        <span class="help-block error" ng-show="errorUri">{{ errorUri }}</span>
                    </div>
                    <div class="checkbox check-info">
                        <input type="checkbox" id="keepWindowOpen" ng-model="formData.keepWindowOpen">
                        <label for="keepWindowOpen">Keep window open</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-8 m-t-10 sm-m-t-10">
            <button type="button" class="btn btn-primary btn-cons pull-left inline"
                    ng-click="add()" data-dismiss="modal">Add
            </button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline"
                    ng-click="cancel()" data-dismiss="modal">Cancel
            </button>
        </div>
    </div>
</div>