<div class="modal-header clearfix text-left">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i
            class="pg-close fs-14"></i></button>
    <h5>Delete folder</h5>
</div>
<div class="modal-body">
    <p class="no-margin">This will permanently delete all traces of "<strong ng-bind="folder.name"></strong>" from both the database and the file system. Are you
        sure you want to proceed?</p>
</div>
<div class="modal-footer">
    <button id="confirmDeleteModalConfirmBtn" type="button" class="btn btn-danger btn-cons pull-left inline"
            ng-click="delete()" data-dismiss="modal">Delete
    </button>
    <button type="button" class="btn btn-default btn-cons no-margin pull-left inline"
            ng-click="cancel()" data-dismiss="modal">Cancel
    </button>
</div>