<div class="modal-header clearfix text-left">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i ng-click="cancel()" class="pg-close fs-14"></i>
    </button>
    <p>Found {{ episode.torrents.length }} <ng-pluralize count="episode.torrents.length" when="{'other': 'matches', 'one': 'match'}"></ng-pluralize> for <strong>{{ episode.series.title }} {{ episode.season_number }}x{{ episode.episode_number }} {{ episode.title }}</strong></p>
</div>
<div class="modal-body">
    <table class="table table-hover" id="tblTorrents" ui-options="options">
        <thead>
        <tr>
            <th style="width: 35px">&nbsp;</th>
            <th>Title</th>
            <th style="width: 130px">Published</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="torrent in episode.torrents">
            <td class="v-align-middle" style="vertical-align: middle;">
                <button ng-click="downloadTorrent(torrent)" class="btn btn-xs"
                        ng-class="{'btn-primary': (episode.downloads | inArray : torrent.id)}" type="button"><i class="fa fa-download"></i></button>
            </td>
            <td class="v-align-middle" style="padding-left: 10px;">{{ torrent.title }}</td>
            <td style="padding-left: 10px;">{{ torrent.published_at | asDate | date:'dd. MMM HH:mm' }}</td>
        </tr>
        </tbody>
    </table>
</div>