<!-- BEGIN SIDEBAR -->
<div ng-include src=" 'tpl/blocks/sidebar.html' " include-replace>
</div>
<!-- END SIDEBAR -->
<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <!-- START PAGE HEADER WRAPPER -->
    <div ng-include=" 'tpl/blocks/header.html' ">
    </div>
    <!-- END PAGE HEADER WRAPPER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <div class="full-height full-width" ui-view>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
        <div ng-include=" 'tpl/blocks/footer.html'">
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->
<!-- START OVERLAY -->
<div ng-include src=" 'tpl/blocks/quick_search.html' " include-replace>
</div>
<!-- END OVERLAY -->