<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/dashboard">Dashboard</a></li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Recent Episodes</div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="tblRecentEpisodes"
                   ui-options="options">
                <thead>
                <tr>
                    <th style="width: 35px">&nbsp;</th>
                    <th style="width: 20%">Series</th>
                    <th class="text-center" style="width: 10%">Episode</th>
                    <th>Title</th>
                    <th style="width: 120px">Time Since</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="episode in recentEpisodes">
                    <td class="v-align-middle" style="vertical-align: middle">
                        <button ng-click="showTorrentsModal(episode)" ng-show="episode.torrents.length" class="btn  btn-xs" ng-class="episode.downloads.length ? 'btn-primary' : 'btn-inverse'"
                                type="button"><i class="fa fa-download"></i></button>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p><a ng-href="/#/app/series/{{ episode.series.id }}" ng-bind="episode.series.title"></a></p>
                        <span ng-if="episode.files.length" class="label label-success">On Plex</span>
                        <span ng-if="episode.deleted_at" class="label label-inverse">Deleted</span>
                    </td>
                    <td class="text-center v-align-middle" style="padding-left: 10px">
                        <p ng-bind="episode.season_number + 'x' + episode.episode_number"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="episode.title"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="episode.airdateRelative"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->

    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Upcoming Episodes</div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="tblUpcomingEpisodes"
                   ui-options="options">
                <thead>
                <tr>
                    <th style="width: 35px">&nbsp;</th>
                    <th style="width: 20%">Series</th>
                    <th class="text-center" style="width: 10%">Episode</th>
                    <th>Title</th>
                    <th style="width: 120px">Time Until</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="episode in upcomingEpisodes">
                    <td class="v-align-middle" style="vertical-align: middle">
                        <button ng-click="showTorrentsModal(episode)" ng-show="episode.torrents.length" class="btn btn-info btn-xs"
                                type="button"><i class="fa fa-download"></i></button>
                    </td>
                    <td class="v-align-middle">
                        <p><a ng-href="/#/app/series/{{ episode.series.id }}" ng-bind="episode.series.title"></a></p>
                        <span ng-if="episode.file" class="label label-success">On Plex</span>
                        <span ng-if="episode.downloaded_at" class="label label-important">Downloaded</span>
                        <span ng-if="episode.torrents.length && !episode.file" class="label label-info">Available</span>
                        <span ng-if="episode.deleted_at" class="label label-inverse">Deleted</span>
                    </td>
                    <td class="text-center v-align-middle" style="padding-left: 10px">
                        <p ng-bind="episode.season_number + 'x' + episode.episode_number"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="episode.title"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="episode.airdateRelative"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->