<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a ng-href="/#/">Home</a>
        </li>
        <li><a ng-href="/#/app/feeds">Feeds</a></li>
        <li><a class="active" ng-href="/#/app/feeds/{{ feed.id }}">{{ feed.title }}</a></li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="feedLoading" class="progress-circle-indeterminate m-t-45"></div>

            <div class="text-center" ng-show="!feedLoading">
                <span ng-if="torrents.prev_page_url">
                    <a class="btn btn-sm btn-info" ng-href="/#/app/feeds/{{ feed.id }}?page={{ torrents.current_page - 1 }}">Previous page</a>
                </span>
                Showing {{ torrents.from }}-{{ torrents.to }} of {{ torrents.total }} results
                <span ng-if="torrents.next_page_url">
                    <a class="btn btn-sm btn-info" ng-href="/#/app/feeds/{{ feed.id }}?page={{ torrents.current_page + 1 }}">Next page</a>
                </span>
            </div>

            <table ng-show="!feedLoading" class="table table-hover" id="tblFeeds" ui-options="options">
                <thead>
                <tr>
                    <th style="width: 50px">&nbsp;</th>
                    <th style="width: 110px">Published</th>
                    <th>Title</th>
                    <th style="width: 10%">Category</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="torrent in torrents.data">
                    <td>
                        <button ng-click="downloadTorrent(torrent)" type="button"
                                class="btn btn-sm"
                                ng-class="{'btn-primary': (torrent.downloads | inArray : torrent.id)}">
                            <i class="fa fa-download"></i>
                        </button>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.published_at | asDate | date:'mediumDate'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.title"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.category"></p>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="text-center" ng-show="!feedLoading">
                <span ng-if="torrents.prev_page_url">
                    <a class="btn btn-sm btn-info"
                       ng-href="/#/app/feeds/{{ feed.id }}?page={{ torrents.current_page - 1 }}">Previous page</a>
                </span>
                Showing {{ torrents.from }}-{{ torrents.to }} of {{ torrents.total }} results
                <span ng-if="torrents.next_page_url">
                    <a class="btn btn-sm btn-info"
                       ng-href="/#/app/feeds/{{ feed.id }}?page={{ torrents.current_page + 1 }}">Next page</a>
                </span>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->