<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/feeds">Feeds</a></li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="col-lg-12 col-md-12 ">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-body" style="padding-bottom: 0px">
                    <button ng-click="refreshAll()" class="btn btn-primary btn-cons">Refresh all</button>
                    <button ng-click="openAddFeedModal()" class="btn btn-primary btn-cons">Add feed</button>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="loading" class="progress-circle-indeterminate m-t-45"></div>

            <div ng-show="!feeds.length && !loading">
                No feeds
            </div>

            <table ng-show="!loading && feeds.length" class="table table-hover" id="tblFeeds" ui-options="options">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>URI</th>
                    <th style="width: 50px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="feed in feeds">
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p><a ng-href="/#/app/feeds/{{ feed.id }}" ng-bind="feed.title"></a></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p><a ng-href="{{ feed.uri }}" target="_blank" ng-bind="feed.uri"></a></p>
                    </td>
                    <td>
                        <button ng-click="openDeleteFeedModal($event, feed)" type="button"
                                class="btn btn-sm btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->