<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a href="/#/files">Files</a></li>
        <li><a class="active" href="/#/files/process">Process Downloads</a></li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="col-lg-12 col-md-12 ">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-body" style="padding-bottom: 0px">
                    <button ng-click="processAllFiles()" class="btn btn-primary btn-cons">Process all files</button>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="loading" class="progress-circle-indeterminate m-t-45"></div>

            <div ng-show="!loading && !files.length">
                No results
            </div>

            <table ng-show="!loading && files.length" class="table table-hover" id="tblFiles" ui-options="options">
                <thead>
                <tr>
                    <th>Status</th>
                    <th style="width: 120px">Action</th>
                    <th style="width: 40%">From</th>
                    <th style="width: 40%">To</th>
                    <th style="width: 50px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in files">
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p>Ready</p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="file.action"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="file.from"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="file.to"></p>
                    </td>
                    <td>
                        <button ng-click="processFile(file)" type="button" class="btn btn-sm btn-primary">
                            Process
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->