<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/files">Files</a></li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="col-lg-12 col-md-12 ">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-body" style="padding-bottom: 0px">
                    <button ng-click="" class="btn btn-primary btn-cons"><i class="fa fa-television"></i> Episodes
                    </button>
                    <button ng-click="" class="btn btn-primary btn-cons"><i class="pg-movie"></i> Movies</button>
                    <button ng-click="" class="btn btn-primary btn-cons"><i class="fa fa-star"></i> Wishes</button>
                    <button ng-click="" class="btn btn-primary btn-cons"><i class="fa fa-question"></i> Uncategorized
                    </button>
                    <button ng-click="" class="btn btn-primary btn-cons"><i class="fa fa-copy"></i> Duplicates
                    </button>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="loading" class="progress-circle-indeterminate m-t-45"></div>

            <div class="text-center" ng-show="!loading">
                <span ng-if="files.prev_page_url">
                    <a class="btn btn-sm btn-info"
                       ng-href="/#/app/files?page={{ files.current_page - 1 }}">Previous page</a>
                </span>
                Showing {{ files.from }}-{{ files.to }} of {{ files.total }} results
                <span ng-if="files.next_page_url">
                    <a class="btn btn-sm btn-info"
                       ng-href="/#/app/files?page={{ files.current_page + 1 }}">Next page</a>
                </span>
            </div>

            <table ng-show="!loading" class="table table-hover" id="tblFiles" ui-options="options"
                   style="width: 100%; table-layout: fixed;">
                <thead>
                <tr>
                    <th style="width: 110px">Since</th>
                    <th style="width: 100px">Type</th>
                    <th style="width: 30%">Path</th>
                    <th style="width: 40%">File</th>
                    <th style="width: 120px">Size</th>
                    <th style="width: 100px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in files.data">
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="file.created_at | asDate | date:'mediumDate'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="file.type"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px; word-wrap: break-word;">
                        <p ng-bind="file.path"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px; word-wrap: break-word;">
                        <p ng-bind="file.file"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="file.size | bytes"></p>
                    </td>
                    <td>
                        <button ng-click="deleteFile(file)" type="button" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->