<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/logbooks">Logbooks</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<div class="container-fluid container-fixed-lg bg-white">
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div style="float:left">
                Toggle State:
            </div>
            <div class="timeline-point success" style="position:relative; float:left;">
                <i class="fa fa-check"></i>
            </div>
            <div class="timeline-point failure" style="position:relative; float:left;">
                <i class="fa fa-warning"></i>
            </div>
            <div class="timeline-point error" style="position:relative; float:left;">
                <i class="fa fa-fire"></i>
            </div>
            <div style="float:left">
                Toggle Type:
            </div>
            <div class="timeline-point success" style="position:relative; float:left;">
                <i class="fa fa-television"></i>
            </div>
            <div class="timeline-point success" style="position:relative; float:left;">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-point success" style="position:relative; float:left;">
                <i class="fa fa-folder"></i>
            </div>
            <div class="timeline-point success" style="position:relative; float:left;">
                <i class="fa fa-file"></i>
            </div>
            <div class="timeline-point success" style="position:relative; float:left;">
                <i class="fa fa-download"></i>
            </div>
            <div class="timeline-point success" style="position:relative; float:left;">
                <i class="fa fa-rss"></i>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-fixed-lg sm-p-l-5">
    <div class="timeline-container top-circle">
        <section class="timeline">
            <div class="timeline-block" ng-repeat="logbook in logbooks">
                <div class="timeline-point" ng-class="logbook.type | lowercase">
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Series'" class="fa fa-television"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Wish'" class="fa fa-star"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Folder'" class="fa fa-folder"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'File'" class="fa fa-file"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Transmission'" class="fa fa-download"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Torrent'" class="fa fa-download"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Feeds'" class="fa fa-rss"></i>
                </div>
                <!-- timeline-point -->
                <div class="timeline-content">
                    <div class="card share full-width">
                        <div class="card-header clearfix">
                            <h5>{{ logbook.event }}</h5>
                        </div>
                        <div class="card-description" style="word-wrap: break-word;">
                            <p>{{ logbook.message }}</p>
                            <div class="via">by {{ logbook.user.first_name }} ({{ logbook.ip_address }})</div>
                        </div>
                    </div>
                    <div class="event-date">
                        <small class="fs-12 hint-text">{{ logbook.created_at }} <span
                                ng-if="logbook.event == 'Feeds/Refresh'">- {{ logbook.updated_at }}</span></small>
                    </div>
                </div>
                <!-- timeline-content -->
            </div>
        </section>
        <!-- timeline -->
    </div>
    <!-- -->
</div>
<!-- END CONTAINER FLUID -->