<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li><a href="/#/">Home</a></li>
        <li><a href="/#/app/series">Series</a></li>
        <li>
            <span ng-if="seriesLoading">Loading ...</span>
            <span ng-if="!seriesLoading"><a class="active" href="/#/app/series/{{ series.id }}">{{ series.title }}</a></span>
        </li>
    </ul>
</div>

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
            <div ng-show="seriesLoading" class="progress-circle-indeterminate m-t-45"></div>
            <div ng-show="!seriesLoading" class="row">
                <div class="col-lg-4 col-md-3">
                    <!-- START PANEL -->
                    <div class="full-height">
                        <div class="panel-body text-center">
                            <img class="image-responsive-height" style="max-width: 300px"
                                 src="{{ series.local_image_uri || series.remote_image_uri }}" alt="">
                        </div>
                    </div>
                    <!-- END PANEL -->
                </div>
                <div class="col-lg-4 col-md-3">
                    <!-- START PANEL -->
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="panel-title">Summary</div>
                        </div>
                        <div class="panel-body" dd-text-collapse dd-text-collapse-max-length="300"
                             dd-text-collapse-text="{{ series.summary }}">
                        </div>
                    </div>
                    <!-- END PANEL -->
                </div>
                <div class="col-lg-4 col-md-5 ">
                    <!-- START PANEL -->
                    <div class="panel panel-transparent">
                        <div class="panel-body">
                            <button style="width: 100%" ng-click="refreshSeries(series)" class="btn btn-primary btn-cons">
                                Refresh
                            </button>
                            <br/><br/>
                            <button style="width: 100%" ng-click="downloadEpisodes(series)" class="btn btn-info btn-cons">
                                Download Episodes
                            </button>
                            <br/><br/>

                            <button style="width: 100%" ng-click="deleteSeries(series)" class="btn btn-danger btn-cons">
                                Delete
                            </button>

                            <br/><br/>
                            <p><strong>First aired:</strong> {{ series.started_at | asDate | date:'mediumDate' }}</p>
                            <p><strong>Status:</strong> {{ series.status }} <strong>on</strong> {{ series.network }}</p>
                            <p><strong>Type:</strong> {{ series.type }}</p>
                            <p><strong>Runtime:</strong> {{ series.runtime }} minutes</p>
                            <p><strong>Rating:</strong> {{ series.rating }} ({{ series.votes }} votes)</p>
                            <p><strong>Schedule:</strong> {{ series.airday }}s <strong>at</strong> {{ series.airtime }}</p>
                            <p><strong>Timezone:</strong> {{ series.timezone }}</p>
                        </div>
                    </div>
                    <!-- END PANEL -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div ng-show="episodesLoading" class="progress-circle-indeterminate m-t-45"></div>

    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="!episodesLoading"></div>

            <table ng-show="!episodesLoading" class="table table-hover" id="tblEpisodes" ui-options="options">
                <thead>
                <tr>
                    <th style="width: 15%">Aired</th>
                    <th>Title</th>
                    <th class="text-center" style="width: 40px">&nbsp;</th>
                    <th style="width: 40%">File</th>
                    <th style="width: 50px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="episode in episodes">
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="episode.airdate | asDate | date:'mediumDate'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="episode.title"></p>
                    </td>
                    <td class="v-align-middle text-center" style="padding-left: 10px">
                        <p ng-bind="episode.season_number + 'x' + episode.episode_number"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-repeat="file in episode.files" ng-bind="file.file"></p>
                    </td>
                    <td>
                        <span ng-show="episode.file">
                            <button ng-click="deleteEpisode(episode)" type="button"
                                    class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
                        </span>
                        <span ng-show="!episode.file && !episode.torrents.length">
                            <button ng-click="searchEpisode(episode)" type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                        <button ng-click="showTorrentsModal(episode)" ng-show="episode.torrents.length"
                                class="btn btn-sm" ng-class="episode.downloads.length ? 'btn-complete' : 'btn-info'"
                                type="button"><i class="fa fa-download"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->