<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/app/series">Series</a></li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="col-lg-12 col-md-12 ">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-body" style="padding-bottom: 0px">
                    <button ng-click="refreshAll()" class="btn btn-primary btn-cons">Refresh all</button>
                    <button ng-click="rebuildEpisodes()" class="btn btn-primary btn-cons">Rebuild episodes</button>
                    <button ng-click="rebuildFolders()" class="btn btn-primary btn-cons">Rebuild folders</button>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="loading" class="progress-circle-indeterminate m-t-45"></div>

            <table ng-show="!loading" class="table table-hover" id="tblSeries" ui-options="options">
                <thead>
                <tr>
                    <th style="width: 130px">&nbsp;</th>
                    <th>Title</th>
                    <th style="width: 15%">First Aired</th>
                    <th style="width: 20%">Schedule</th>
                    <th style="width: 10%">Status</th>
                    <th style="width: 50px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="series in listOfSeries" style="background-color: #f22c40">
                    <td ng-style="series.status === 'Ended' && {'background-color': '#F8E2E8'}">
                        <div class="btn-group">
                            <button ng-click="refresh(series)" type="button" class="btn btn-sm btn-info"><i
                                    class="fa fa-refresh"></i></button>
                            <button ng-click="openAddAliasModal(series)" type="button" class="btn btn-sm btn-info">
                                <i class="fa fa-check"></i>
                                <i class="fa fa-stack-1x"
                                   style="font-family:Arial, sans-serif; font-size:0.6em; top:-0.1em; left:-0.3em;">abc</i>
                            </button>
                        </div>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px"
                        ng-style="series.status === 'Ended' && {'background-color': '#F8E2E8'}">
                        <p><a ng-href="/#/app/series/{{ series.id }}" ng-bind="series.title"></a></p>

                        <p ng-repeat="alias in series.aliases">
                            <i ng-click="deleteAlias(alias)" class="pg-close fs-14"></i>
                            <span ng-bind="alias.title"></span>
                        </p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px"
                        ng-style="series.status === 'Ended' && {'background-color': '#F8E2E8'}">
                        <p ng-bind="series.started_at | asDate | date:'mediumDate'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px"
                        ng-style="series.status === 'Ended' && {'background-color': '#F8E2E8'}">
                        <p ng-bind="(series.airday || '') + ' ' + (series.airtime || '')"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px"
                        ng-style="series.status === 'Ended' && {'background-color': '#F8E2E8'}">
                        <p ng-bind="series.status"></p>
                    </td>
                    <td ng-style="series.status === 'Ended' && {'background-color': '#F8E2E8'}">
                        <button ng-click="openDeleteSeriesModal($event, series)" type="button"
                                class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->