<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/app/transmission">Transmission</a></li>
    </ul>
</div>

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="col-lg-12 col-md-12 ">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-body" style="padding-bottom: 0px">
                    <button ng-click="startAll()" class="btn btn-primary btn-cons">Start all</button>
                    <button ng-click="stopAll()" class="btn btn-primary btn-cons">Stop all</button>
                    <button ng-click="removeAllFinished()" class="btn btn-danger btn-cons">Remove all finished</button>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="loading" class="progress-circle-indeterminate m-t-45"></div>

            <div ng-show="!torrents.length && !loading">
                No torrents
            </div>

            <table ng-show="!loading" ng-if="torrents.length" class="table table-hover" id="tblWishes" ui-options="options">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Size</th>
                    <th>Downloaded</th>
                    <th>Progress</th>
                    <th>Speed</th>
                    <th>Time Remaining</th>
                    <th style="width: 50px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="torrent in torrents">
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p><a ng-href="/#/app/transmission/{{ torrent.id }}/files" ng-bind="torrent.name"></a></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.statusHuman"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.sizeHuman"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.progressHuman"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.percentDone + '%'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.downloadRateHuman"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.etaHuman"></p>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button ng-click="stop(torrent)" type="button" class="btn btn-sm btn-info"><i class="fa fa-stop"></i></button>
                            <button ng-click="start(torrent)" type="button" class="btn btn-sm btn-info"><i class="fa fa-play"></i></button>
                            <button ng-click="remove(torrent)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                            <button ng-click="remove(torrent, true)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->