<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/app/wishes">Wishes</a></li>
    </ul>
</div>

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="col-lg-12 col-md-12 ">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-body" style="padding-bottom: 0px">
                    <button ng-click="refreshWishes()" class="btn btn-primary btn-cons">Refresh all</button>
                    <a href="javascript:(function(){var script=document.createElement('SCRIPT');script.src='http://hub_web.app/assets/js/wishes-bookmarklet.js';document.body.appendChild(script);})()"
                       class="btn btn-info btn-cons">+ Wish (Drag me up!)</a>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="loading" class="progress-circle-indeterminate m-t-45"></div>

            <table ng-show="!loading" class="table table-hover" id="tblWishes" ui-options="options"
                   style="width: 100%; table-layout: fixed;">
                <thead>
                <tr>
                    <th style="width: 120px">Since</th>
                    <th style="width: 35%">Title</th>
                    <th style="width: 40px">Year</th>
                    <th style="width: 35%">File</th>
                    <th style="width: 200px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="wish in wishes">
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="wish.created_at | asDate | date:'mediumDate'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-if="!wish.local_image_uri">
                            <a href="https://www.themoviedb.org/movie/{{ wish.themoviedb_id }}" target="_blank"
                               ng-bind="wish.title"
                               title="NA" data-toggle="tooltip"
                               data-placement="top" tooltip></a>
                        </p>
                        <p ng-if="wish.local_image_uri">
                            <a href="https://www.themoviedb.org/movie/{{ wish.themoviedb_id }}" target="_blank"
                               ng-bind="wish.title"
                               title="<img src='http://hub.app{{ wish.local_image_uri }}' />" data-toggle="tooltip"
                               data-placement="top" tooltip></a>
                        </p>
                        <span ng-bind="wish.original_title"></span>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="wish.year"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px; word-wrap: break-word;">
                        <p ng-repeat="file in wish.files" ng-bind="file.file"></p>
                    </td>
                    <td>
                        <a ng-href="https://www.youtube.com/results?search_query={{ wish.title}} {{ wish.year }} Official Trailer"
                           target="_blank" type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <button ng-click="refreshWish(wish)" type="button" class="btn btn-sm btn-info">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button ng-click="openDeleteWishModal($event, wish)" type="button"
                                class="btn btn-sm btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->